{% extends 'admin/change_form.html' %}
{% block title %}{{ original.name }}'s results of {{ original.survey.name }}{% endblock %}
{% block content_title %}
<h1>{{ original.name }}'s results of {{ original.survey.name }}</h1>
{% endblock %}
{% block content %}
    <h2>Summary</h2>
    <h3>Status: {{ original.status }}</h3>
    <h3>Started: {{ original.created }}</h3>
    <h3>Completed: {{ original.modified }}</h3>
    <h3>{{ original.result_percentage|floatformat:2 }}%</h3>
    <h3>You answered correctly {{ original.result_answers.0 }} of {{ original.result_answers.1 }}</h3>
    <hr/>
    <h2>Details</h2>
    {% include 'includes/question_with_answers.html' with qs=original.user_answers.all %}
{% endblock %}