<div class="row">
{% for question in qs %}
    <div class="col-lg-4">
        <h3 style="color: {% if question.is_correct %}green{% else %}red{% endif %}">{{ question.question }}</h3>
        {% for answer in question.question.answers.all %}
            <p{% if answer.is_correct %} style="color: green"{% endif %}>
                {{ answer.answer }}
                {% if answer in question.answers.all %}
                    <span{% if not answer.is_correct %} style="color: red"{% endif %}>&checkmark;</span>
                {% endif %}
            </p>
        {% endfor %}
    </div>
{% endfor %}
</div>