<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <style>
        ul {
            list-style: none;
        }
    </style>
</head>
<body>
<nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="/">Surveys List</a>
</nav>
<div class="container">
    <h1 class="text-center pt-5">{{ title }}</h1>
    <div class="row py-5">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>