{% extends 'base.html' %}
{% block content %}
    {% for s in surveys %}
        <div class="col-12 col-lg-3">
        {% if s.slug in passed_tests %}
            <p class="py-2">
                <a href="{% url 'survey_result' slug=s.slug %}"><img src="{{ s.image_cover_thumb.url }}" class="img-fluid"></a>
            </p>
            <p class="text-center">
                <a href="{% url 'survey_result' slug=s.slug %}">{{ s.name }} [Passed]</a>
            </p>
        {% else %}
            <p class="py-2">
                <a href="{% url 'survey' slug=s.slug %}"><img src="{{ s.image_cover_thumb.url }}" class="img-fluid"></a>
            </p>
            <p class="text-center">
                <a href="{% url 'survey' slug=s.slug %}">{{ s.name }}</a>
            </p>
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}