{% extends 'base.html' %}
{% block content %}
    <div class="py-2 col-12">{{ question.question|linebreaksbr }}</div>
    <div class="py-2 col-12">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field.attrs }}
                <div class="form-group text-left">
                    {% if field.errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ field }}{{ field.errors }}
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                </div>
            {% endfor %}
            <p class="text-center"><input type="submit" value="Answer" class="btn-lg btn-info btn"></p>
        </form>
    </div>
{% endblock %}