{% extends 'base.html' %}
{% block content %}
    <div>
        <img src="{{ result.survey.image_cover_normal.url }}" class="image-fluid">
    </div>
    <div class="py-2 col-12">
        {{ result.survey.description|linebreaksbr }}
    </div>
    <div class="py-2 text-center col-12">
        <h2>{{ results_percent }}</h2>
        <h3>You answered correctly {{ results_is_correct }} of {{ results_total }}</h3>
        <hr/>
        {% include 'includes/question_with_answers.html' with qs=result.user_answers.all %}
    </div>

{% endblock %}