{% extends 'base.html' %}
{% block content %}
    <div>
        <img src="{{ survey.image_cover_normal.url }}" class="image-fluid">
    </div>
    <div class="py-2 col-12 col-md-6">
        {{ survey.description|linebreaksbr }}
    </div>
    <div class=" py2 col-12 col-md-6">
    <h3>Top results</h3>
    {% for t in survey.top_results %}
        <p>{{ t.name }} - {{ t.result_percentage|floatformat:2 }}%</p>
    {% endfor %}
    </div>
    <div class="py-2 text-center col-12">

    <form action="{% url 'join_survey' slug=survey.slug %}" method="post">
        {% csrf_token %}
         <div class="form-group">{{ form.name }}</div>
        <input type="submit" class="btn btn-info btn-lg" value="START SURVEY">
    </form>

    </div>

{% endblock %}